---
title: {{ title }}

business:
  name: 
  stream:
  phase:
  startDate:
  link:
  businessFunction:
  teamLead:
  techLead:
  repos: []

technical:
  architecturalDrivers:
  cloudProvider:
  containerOrchaestrator:
  progLanguage:
  techStack: []
  archiStyles: []
  backingServices: []
  sharedServices:
  ci:
  cd:
  security: []
  observability: []
  keyMetrics:
    deploymentFreq:
    leadTime:
    timeToRestore:
    changeFailRate:

meta:
  update: {{ date }}
  description:
  keywords: [""]
  repo:
  author: {{ author }}
---

[TBD: Actual Content]

## Business Context
[Short Description of the product and the business it serves]

## Architecture

### Architecturl Drivers
[A list of architecture drivers that will guide the architecture] 

### Abstract Architecture Specification
[The state of the architecture, explained in prose, complemented with digrames whenever possible]

###​ Architecture Analysis
[Analsysis of how the architecture supports or demotes the architectural driveres]

#### Architectural Concerns
[Any risks or concerns from the analysis]

#### Considerations, Suggestions and Alternatives
[Suggestions addressing each of the concerns]

## Conclusion
[Conclusion]

## References
[Related links]