---
title: {{ title }}

product:
  name: 
  stream:
  phase:
  initialReleaseDate:
  businessUnit: 
  businessFunction:
  teamLead:
  techLead:
  stakeholders:
  channels: []

technical:
  architecturalDrivers:
  cloudProvider:
  containerOrchestrator:
  progLanguages: []
  techStack: []
  archiStyles: []
  backingServices: []
  sharedServices: []
  ci:
  cd:
  security: []
  observability: []
  integrations:
    upstream: []
    downstream: []
    vendor: []
  keyMetrics:
    deploymentFreq:
    leadTime:
    timeToRestore:
    changeFailRate:

links:
  homepage:
  repo:
  logBrowser:
  appMonitoring:
  infraMonitoring:
  envs:
    int:
    stage:
    prod:

meta:
  update: {{ date }}
  description:
  logo:
  keywords: [""]
  author: {{ author }}
  sourceDoc: 
---

[TBD: Actual Content]

## Synopsis
[Short highlight of the product]

## Business Context
[Short Description of the product and the business it serves]

## Architecture

### Architectural Drivers
[A list of architecture drivers that will guide the architecture] 

### Architecture As-Is
[The state of the architecture, explained in prose, complemented with diagrams whenever possible]

### Technical Specifications

* Language: 
* Framework:  
* Package manager: 
* Build tool:  
* Platform (for build): 
* CI/CD: 
* Cloud: 
* Dependent Libraries:

### Operational
[Operational aspects of the system, e.g. pipeline, obsevability, etc.]

### Architecture Drill-Down & Analysis
[Analysis of how the architecture supports or demotes the architectural drivers]

#### Addressing the Quality Attributes
[How each of the architecture areas addresses the drivers]

### Architectural Risks and Concerns
[Any risks or concerns from the analysis]

## Opportunities for Improvement
[Suggestions addressing each of the concerns]

## Conclusion
[Conclusion]

## References
[Related links]
