# Site:
WEB_ROOT_URL={{ WEB_ROOT_URL }}
WEB_PATH_PREFIX=/portal/

# Search: Algolia 
ALGOLIA_APP_ID={{ ALGOLIA_APP_ID }}
ALGOLIA_INDEX_NAME={{ ALGOLIA_INDEX_NAME }}
ALGOLIA_SEARCH_API_KEY={{ ALGOLIA_SEARCH_API_KEY }}
ALGOLIA_ADMIN_API_KEY={{ ALGOLIA_ADMIN_API_KEY }}

# Search: ElasticSearh
ES_INDEX_NAME=site-content
ES_PROD_INDEX_NAME=site-products
ES_URL=
ES_ADMIN_ACCESS_KEY=
ES_ADMIN_ACCESS_SECRET=
ES_READ_ACCESS_KEY=
ES_READ_ACCESS_SECRET=

# Web Analytics: Google Analytics
GOOGLE_TAG_ID={{ GOOGLE_TAG_ID }}

# Commenting:Disqus 
DISQUS_SITE_NAME={{ DISQUS_SITE_NAME }}

