---
layout: layouts/base.njk
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="container">
{% for lang in site.langs %}
<span class="text-4xl block text-teal-700 text-center">{{ site[lang.id]._t.NOT_FOUND }}</span>
{% endfor %}
</div>
