name: Publish to GitHub Pages

on:
  [push]

jobs:
  build_deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      
      - run: yarn install
      - name: Build Eleventy
        run: yarn build
        env:
          REPO_URL: https://github.com/creasoft-dev/fundamenty
          WEB_PATH_PREFIX: /fundamenty/
          WEB_ROOT_URL: https://creasoft-dev.gitlab.io
      
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./_site
